body{
	background-color: rgba(31, 4, 65, .5);
}

h2{
	margin-bottom: 5px;
	color: rgba(128, 255, 206, 1);	
}

span{
	color: rgba(180, 219, 204, 1);
}

.time{
	color: rgba(46, 4, 64, 1);
	font-size: 12px;	
	margin-left: 5px;
}