
<!--http://api.twitter.com/1/statuses/user_timeline.json?screen_name=SkyNewsBreak-->
<!-- http://twitter.com/about/resources/widgets/widget_profile-->
<script src = "/js/jquery-1.6.1.js"></script>
<script src = "/js/jquery.jqote2.js"></script>
<script src = "/js/background.js"></script>
<script src = "/js/globals.js"></script>

<script type="text/x-jqote-template" id="template">
    <![CDATA[
    <li>
        <a href="<%= this.href %>"><%= this.link %></a>
    </li>
    ]]>
</script>

<script>
	
  //Adding twitter enabled for demo
  window.localStorage.setItem('isTwitterEnabled', true);
  window.localStorage.setItem('rssFeedToFollow', 'http://news.sky.com/sky-news/rss/home/rss.xml');
  // Test for notification support.
  if (webkitNotifications) {
    var interval = 0; // The display interval, in minutes.

    setInterval(function() {
      interval++;
      background.show();            
    }, globals.waitTime); 
  } else {
    // Show a new tab with an error message.
    chrome.tabs.create({url: 'error.html'});
  }

</script>
