<html>
<script src = "./js/jquery-1.6.1.js"></script>
<script src = "./js/jquery.jqote2.js"></script>
<link rel="stylesheet" type="text/css" href="./css/buttonPopup.css">
<body>
	<div class='headings'>
		<h2 id="sky-news-header">Sky News</h2> 
		<a id='options-link' href='options.html'>Configure Extension</a> 
	</div>
	<div id='rss-items'></div>
	


<!-- Template for rss output -->
<script type="text/x-jqote-template" id="template">
    <![CDATA[
    <li>
        <a href="<%= this.link %>"><%= this.title %></a>
    </li>
    ]]>
</script>


<script>


	function showStory(event) {
	  var href = event.currentTarget.href;
	  chrome.tabs.create({url: href});
	  event.preventDefault();
	
	}

  	function parseXml(xml){
		var $tmpl = $('#template');
		 $(xml).find("item").each(function(){

	        // add rss links
	        $('#rss-items').jqoteapp($tmpl, {
	            link: $(this).find("link").text(),
	            title: $(this).find("title").text()
	        });
		 });
		$('li a').click(function (e) {
			showStory(e);
		});		 
	}//end of parseXml


  function show() {
	var url = window.localStorage.getItem('rssFeedToFollow');
	$.ajax({
		type: "GET",
		url: url,
		dataType: "xml",
		success: parseXml
	});
  } //end of show

	$(document).ready(function() {
		show();
	});

	$('#options-link').bind('click', function(e){
		chrome.tabs.create({url: chrome.extension.getURL('options.html')});
		e.preventDefault();	
	});

</script>
</body>
</html>
