<html>
<script src = "./js/jquery-1.6.1.js"></script>
<script src = "./js/jquery.jqote2.js"></script>
<script src = "./js/twitter.js"></script>
<link rel="stylesheet" type="text/css" href="./css/twitterPopup.css">
<body>
	<h2 id="sky-news-header">Breaking News</h2>
	<div id='news-items'></div>	
	
<script>
	$('body').twitter({});
</script>
</body>

<!-- Template for twitter -->
<script type="text/x-jqote-template" id="template">
    <![CDATA[
    <span><%= this.tweet %></span><span class="time"><%= this.time %></span>
    ]]>
</script>

</html>